#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2969b0;
}
#header1-1 P {
  color: #ffffff;
}
#footer1-8 P {
  color: #7c706b;
}
#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2969b0;
}
#msg-box4-26 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-26 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-26 .mbr-article {
  color: #ffffff;
}
#footer1-8 P {
  color: #7c706b;
}
#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2969b0;
}
#form1-21 .mbr-header__text {
  color: #ffffff;
}
#social-buttons2-25 .mbr-header__text {
  color: #c1c1c1;
}
#footer1-8 P {
  color: #7c706b;
}
#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2969b0;
}
#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2969b0;
}
#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2969b0;
}
#menu-22 .mbr-brand__name {
  font-size: 16px;
}
#menu-22.mbr-navbar--stuck .mbr-navbar__section {
  background: #2969b0;
}
#header1-23 P {
  color: #ffffff;
}
#footer1-24 P {
  color: #7c706b;
}
#menu-22 .mbr-brand__name {
  font-size: 16px;
}
#menu-22.mbr-navbar--stuck .mbr-navbar__section {
  background: #2969b0;
}
#msg-box4-32 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-32 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-32 .mbr-article {
  color: #ffffff;
}
#menu-33 .mbr-brand__name {
  font-size: 16px;
}
#menu-33.mbr-navbar--stuck .mbr-navbar__section {
  background: #2969b0;
}
#footer1-35 P {
  color: #7c706b;
}
#menu-42 .mbr-brand__name {
  font-size: 16px;
}
#menu-42.mbr-navbar--stuck .mbr-navbar__section {
  background: #2969b0;
}
#footer1-43 P {
  color: #7c706b;
}
